Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All).

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE", as well as your name and collaborators below:

In [3]:
NAME = "Predicting the number of hours worked: a neural network vs a bayesian approach"
COLLABORATORS = "Matteo and Manel"

---

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Datascience-for-Economics-Final-Assignment" data-toc-modified-id="Datascience-for-Economics-Final-Assignment-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Datascience for Economics Final Assignment</a></span></li><li><span><a href="#Research-question-(0.5-points)" data-toc-modified-id="Research-question-(0.5-points)-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Research question (0.5 points)</a></span></li><li><span><a href="#Motivation-(0.5-points)" data-toc-modified-id="Motivation-(0.5-points)-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Motivation (0.5 points)</a></span></li><li><span><a href="#Method-and-data-(1.0-point)" data-toc-modified-id="Method-and-data-(1.0-point)-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Method and data (1.0 point)</a></span></li><li><span><a href="#Preview-of-the-answers-(0.5-points)" data-toc-modified-id="Preview-of-the-answers-(0.5-points)-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Preview of the answers (0.5 points)</a></span></li><li><span><a href="#Main-assumptions-(0.5-points)" data-toc-modified-id="Main-assumptions-(0.5-points)-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Main assumptions (0.5 points)</a></span></li><li><span><a href="#Python/R-code-(6-points)" data-toc-modified-id="Python/R-code-(6-points)-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Python/R code (6 points)</a></span></li><li><span><a href="#Robustness-analysis-(0.5-points)" data-toc-modified-id="Robustness-analysis-(0.5-points)-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Robustness analysis (0.5 points)</a></span></li><li><span><a href="#Discussion-and-conclusion-(0.5-points)" data-toc-modified-id="Discussion-and-conclusion-(0.5-points)-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Discussion and conclusion (0.5 points)</a></span></li></ul></div>

For this problem set, we'll be using the Jupyter notebook:

![](jupyter.png)

# Datascience for Economics Final Assignment



|Name|SNR|ANR|
|----|---|----|
|Matteo|12345|u6786|
|Manel|56789|u1234|

# Research question (0.5 points)

Formulate the research question: what question do you want to answer in this assignment?

How does personal characteristics help predicting the level of hours worked per week in the UK? We want to predict how much personal characteristics such as age, sex, race, marital status, and others, contribute to the number of hours worked per week.

# Motivation (0.5 points)

Motivate why this question is interesting.

Understanding how much personal characteristics contribute to the number of hours worked per week can help forming some "profiles" of people, so that an employer that wants to hire some employees for a project or a work that has to be done is able to predict which type of people will suit him the most in order to minimize the costs of completing that work. For example, if a project has been commissioned to an employer and he knows that this project needs 2000 hours of work to be completed, he knows which characteristics he has to look at in order to understand which employees' profiles are best for him.

# Method and data (1.0 point)

Which data do you have to analyze the question and what methods are you using to answer the question?

* explain where your data come from (give a link or the code to download the data if you use an API like [wbdata](https://wbdata.readthedocs.io/en/stable/));
* explain the data cleaning and data normalization steps that you use;
* make sure that the data is in your github repository as well (or explain why this is not possible) so that we can replicate your analysis.
* Motivate why you have decided to use these methods (e.g., neural network) over other methods (e.g., Lasso) in this specific context of your study.
* How is the data representative to the population of interest?

YOUR ANSWER HERE

# Preview of the answers (0.5 points)

Summarize the results that you find and the answer to your research question.

YOUR ANSWER HERE

# Main assumptions (0.5 points)

What are the main assumptions that you need to answer the question with your data? For example, assumptions about missing data, random sampling, stability of the data generating process. If the aim is causal inference, then also make clear your assumptions about the random assignment of treatment (e.g. plot a DAG to illustrate your view on the causal relations between the variables).

YOUR ANSWER HERE

# Python/R code (6 points)

Give the python/R code in code cells and use markdown cells to explain why you code things in this way and what the outcomes are of the code cells.

Create as many python/R and markdown cells as you need to explain things well.

If you program mainly in R, you can also use R-studio if you prefer. On jupyterlab, you can switch to an R kernel and combine python and R code in one notebook.

## Package importation

2 lines explaining + comment the code

In [2]:
#Imports
#from __future__ import absolute_import, division, print_function, unicode_literals

import numpy as np
import pandas as pd
import seaborn as sn

#import pymc3 as pm

import matplotlib.pyplot as plt
import tensorflow as tf


#from tensorflow.keras import datasets, layers, models
#from tensorflow import keras
#import arviz as az


from warnings import filterwarnings
filterwarnings('ignore')

from sklearn.preprocessing import scale
from sklearn.model_selection import train_test_split


from ipywidgets import interact, interactive, fixed
import ipywidgets as widgets 
from IPython.display import display

ModuleNotFoundError: No module named 'tensorflow'

## Data manipulation

2 lines explaining the parts of the section

### Data importation

Explain why we eliminate first columns+Comment code

In [4]:
#Data importation
file=('2011teachingfile.csv')
df= pd.read_csv(file, header=None)
df.columns = df.iloc[1,:].values
df.drop([0,1], axis=0, inplace=True)
df_small=df.reset_index(drop=True)
df_small

C:\Users\Prive\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (0,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Person ID,Region,Residence Type,Family Composition,Population Base,Sex,Age,Marital Status,Student,Country of Birth,Health,Ethnic Group,Religion,Economic Activity,Occupation,Industry,Hours worked per week,Approximated Social Grade
0,7394816,E12000001,H,2,1,2,6,2,2,1,2,1,2,5,8,2,-9,4
1,7394745,E12000001,H,5,1,1,4,1,2,1,1,1,2,1,8,6,4,3
2,7395066,E12000001,H,3,1,2,4,1,2,1,1,1,1,1,6,11,3,4
3,7395329,E12000001,H,3,1,2,2,1,2,1,2,1,2,1,7,7,3,2
4,7394712,E12000001,H,3,1,1,5,4,2,1,1,1,2,1,1,4,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
569736,7946020,W92000004,H,1,1,1,5,1,2,1,4,1,9,1,8,8,3,3
569737,7944310,W92000004,H,3,1,1,3,1,2,1,2,1,1,1,7,4,3,4
569738,7945374,W92000004,H,3,1,1,1,1,1,1,1,1,2,-9,-9,-9,-9,-9
569739,7944768,W92000004,H,1,1,2,8,5,2,1,3,1,9,5,9,2,-9,4
569740,7944959,W92000004,H,2,1,2,2,2,2,1,2,1,1,1,7,4,1,4

### Data transformation

Explain the types of the variables and why we change +comment code

In [5]:
#Data transformation
df_small.dtypes

Person ID                    object
Region                       object
Residence Type               object
Family Composition           object
Population Base              object
Sex                          object
Age                          object
Marital Status               object
Student                      object
Country of Birth             object
Health                       object
Ethnic Group                 object
Religion                     object
Economic Activity            object
Occupation                   object
Industry                     object
Hours worked per week        object
Approximated Social Grade    object
dtype: object

In [6]:
column_names=list(df_small.columns)
dictionary = dict()

for item in column_names:
    key = item
    if item=="Region" or item=="Residence Type":
        value=str
    else:
        value=int
    
    dictionary[key] = value
df_Small = df_small.astype(dictionary)
df_Small=df_Small.replace(-9,0)

df_Small.dtypes

Person ID                     int32
Region                       object
Residence Type               object
Family Composition            int32
Population Base               int32
Sex                           int32
Age                           int32
Marital Status                int32
Student                       int32
Country of Birth              int32
Health                        int32
Ethnic Group                  int32
Religion                      int32
Economic Activity             int32
Occupation                    int32
Industry                      int32
Hours worked per week         int32
Approximated Social Grade     int32
dtype: object

### Data cleaning

Explain why and how we clena data + comment the code

In [8]:
#Data cleaning

#df_Small = df_Small[~(df_Small == 0).any(axis=1)]   
variables=column_names[1:]
df_Small

,Person ID,Region,Residence Type,Family Composition,Population Base,Sex,Age,Marital Status,Student,Country of Birth,Health,Ethnic Group,Religion,Economic Activity,Occupation,Industry,Hours worked per week,Approximated Social Grade
0,7394816,E12000001,H,2,1,2,6,2,2,1,2,1,2,5,8,2,0,4
1,7394745,E12000001,H,5,1,1,4,1,2,1,1,1,2,1,8,6,4,3
2,7395066,E12000001,H,3,1,2,4,1,2,1,1,1,1,1,6,11,3,4
3,7395329,E12000001,H,3,1,2,2,1,2,1,2,1,2,1,7,7,3,2
4,7394712,E12000001,H,3,1,1,5,4,2,1,1,1,2,1,1,4,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
569736,7946020,W92000004,H,1,1,1,5,1,2,1,4,1,9,1,8,8,3,3
569737,7944310,W92000004,H,3,1,1,3,1,2,1,2,1,1,1,7,4,3,4
569738,7945374,W92000004,H,3,1,1,1,1,1,1,1,1,2,0,0,0,0,0
569739,7944768,W92000004,H,1,1,2,8,5,2,1,3,1,9,5,9,2,0,4
569740,7944959,W92000004,H,2,1,2,2,2,2,1,2,1,1,1,7,4,1,4

### Encoding labels

Explain that the data is in numbers so that we have to introduce the labels manually

In [9]:
#Encoding labels
dict_family_composition={'No code required':0,'Not in a family':1, 'Married':2, 'Cohabiting couple':3, 'Lone parent family (male)':4, 'Lone parent family (female)':5, 'Others':6}
dict_residence_type={'Resident in a communal establishment':"C",'Not resident in a communal establishment':"H"}
dict_population_base={'Usual resident':1, 'Student living away from home during term-time':2, 'Short-term resident':3}
dict_sex={'Male':1, 'Female':2}
dict_age={'0 to 15':1, '16 to 24':2, '25 to 34':3, '35 to 44':4, '45 to 54':5, '55 to 64':6, '65 to 74':7, '75 and over':8}
dict_marital_status={'Single':1, 'Married':2, 'Separated':3, 'Divorced':4, 'Widowed':5}
dict_student={'Yes':1, 'No':2}
dict_country_of_birth={'No code required':0,'UK':1, 'Non UK':2}
dict_health={'No code required':0,'Very good health':1, 'Good health':2, 'Fair health':3, 'Bad health':4, 'Very bad health':5}
dict_ethnic_group={'No code required':0,'White':1, 'Mixed':2, 'Asian and Asian British':3, 'Black or Black British':4, 'Chinese or Other ethnic group':5}
dict_religion={'No code required':0,'No religion':1, 'Christian':2, 'Buddhist':3, 'Hindu':4, 'Jewish':5, 'Muslim':6, 'Sikh':7, 'Other religion':8, 'Not stated':9}
dict_economic_activity={'No code required':0,'Employee':1, 'Self-employed':2, 'Unemployed':3, 'Full-time student':4, 'Retired':5, 'Student':6, 'Looking after home or family':7, 'Long-term sick or disabled':8, 'Others':9}
dict_occupation={'No code required':0,'Managers, Directors and Senior Officials':1, 'Professional Occupations':2, 'Associate Professional and Technical Occupations':3, 'Administrative and Secretarial Occupations':4, 'Skilled Trades Occupations':5, 'Caring, Leisure and Other Service Occupations':6, 'Sales and Customer Service Occupations':7, 'Process, Plant and Machine Operatives':8, 'Elementary Occupations':9}
dict_industry={'No code required':0,'Agriculture, forestry and fishing':1, 'Mining and quarrying; Manufacturing; Electricity, gas, steam and air conditioning system; Water supply':2, 'Construction':3, 'Wholesale and retail trade; Repair of motor vehicles and motorcycles':4, 'Accommodation and food service activities':5, 'Transport and storage; Information and communication':6, 'Financial and insurance activities; Intermediation':7, 'Real estate activities; Professional, scientific and technical activities; Administrative and support service activities':8, 'Public administration and defence; compulsory social security':9, 'Education':10, 'Human health and social work activities':11, 'Other community, social and personal service activities; Private households employing domestic staff; Extra-territorial organisations and bodies':12}
dict_hours_worked_per_week={ 'No code required':0,'Part-time: 15 or less hours worked':1, 'Part-time: 16 to 30 hours worked':2, 'Full-time: 31 to 48 hours worked':3, 'Full-time: 49 or more hours worked':4}
dict_approximated_social_grade={'No code required':0,'AB':1, 'C1':2, 'C2':3, 'DE':4}
dict_region={"North East":"E12000001","North West":"E12000002 ","Yorkshire and the Humber":"E12000003","East Midlands":" E12000004","West Midlands":"E12000005","East of England":" E12000006","London":" E12000007","South East":"E12000008","South West":"E12000009","Wales":"W92000004"}
dict_variables=[dict_region,dict_residence_type,dict_family_composition, dict_population_base,dict_sex,dict_age,dict_marital_status,dict_student, dict_country_of_birth,dict_health,dict_ethnic_group,dict_religion, dict_economic_activity,dict_occupation,dict_industry,dict_hours_worked_per_week,dict_approximated_social_grade]

### Data visualization and descrpitive analysis

explain+comment

In [16]:
#Data visualitzation and descrptive analysis
def generate_pie_chart(Variable):
    
        
        plt.pie(df_Small[Variable].value_counts().sort_index(), labels=match_variable_labels(Variable),autopct='%1.1f%%')
        plt.title(Variable,weight='bold', size=14)
        plt.legend( match_variable_labels(Variable),loc='center left', bbox_to_anchor=(1.5, 0.5));
        return plt

def generate_relation_plot(Variable):
        a=pd.crosstab(df_Small["Hours worked per week"],df_Small[Variable])
        a.plot.bar()
        plt.legend(match_variable_labels(Variable).keys(),loc='center left', bbox_to_anchor=(1.5, 0.5))
        plt.xticks(list(dict_hours_worked_per_week.values()), list(dict_hours_worked_per_week.keys()),rotation="vertical")
        return plt

#def generate_histogram_plot(Variable):
 #       sn.histplot(binwidth=0.5, x=df_Small["Hours worked per week"], hue=df_Small[Variable], data=df_Small, stat="count", multiple="stack",discrete=True)
  #      plt.xticks(list(dict_hours_worked_per_week.values()), list(dict_hours_worked_per_week.keys()),rotation="vertical")
   #     plt.legend( match_variable_labels(Variable).keys(),loc='center left', bbox_to_anchor=(1.5, 0.5));
    #    return plt

    

def match_variable_labels(Variable):
    for i in range(len(variables)):
        if Variable == variables[i]:
            label=dict_variables[i]
            break
    return label
    
def descriptive(Variable,Execute):
      
            
    if Execute==True:
                
        print("----------------------------------------------------------------\n"+"                 Pie Chart          \n"+"----------------------------------------------------------------\n")

        generate_pie_chart(Variable).show()
        print("----------------------------------------------------------------\n"+"                 Relation with Hors worked per week          \n"+"----------------------------------------------------------------\n")
             
        generate_histogram_plot(Variable).show()
        
        print("\n")
        
        generate_relation_plot(Variable).show()
    else: 
        print("In order to display the plots you need to press the execute button")
        
    


w=interactive(descriptive,Variable=variables,Execute=False)
display(w)

NameError: name 'interactive' is not defined

Explain results from the descrptive analysis

## Neural Network analysis

## Bayesian model

# Robustness analysis (0.5 points)

How robust are your results? Think of things like:

* outliers in the data
* different specification of regression, neural network etc.
* split of data in train, validation and test data.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

# Discussion and conclusion (0.5 points)

What did you find in the analysis above; what is the answer to the question you started out with.

What are weaknesses of your approach that can be improved upon in future research (e.g. in your thesis).

YOUR ANSWER HERE